<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="nlog/internal.log">

  <targets>
    <target name="file" xsi:type="File"
            layout="${longdate} ${message}" 
            fileName="nlog/shiny.log" 
            maxArchiveFiles="7"
            archiveAboveSize="1048576"
            archiveEvery="Day" />
  </targets>
 
  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>

</nlog>
